<ngbx-modal #modal="modal" [back]="['../']">
  <ng-container modal-title>
    Create Todo
  </ng-container>
  <ng-container modal-body>
    <form>
      <div class="form-group">
        <label for="creatorInput">Creator name</label>
        <input [(ngModel)]="newTodo.creator" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
               id="creatorInput" placeholder="Jon Doe">
      </div>
      <div class="form-group">
        <label for="contentInput">Content of todo</label>
        <textarea [(ngModel)]="newTodo.content" [ngModelOptions]="{standalone: true}" class="form-control"
                  id="contentInput" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="priorityInput">Priority (1-10)</label>
        <input [(ngModel)]="newTodo.priority" [ngModelOptions]="{standalone: true}" type="number" class="form-control"
               id="priorityInput" placeholder="1">
      </div>
    </form>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button class="btn btn-primary" (click)="save(); modal.close()">
      Save
    </button>
  </ng-container>
</ngbx-modal>
