<div class="container text-center">
  <button [routerLink]="['create']" class="btn btn-success m-2">Create</button>
  <div *ngFor="let todo of todos; let i = index" class="card m-2">
    <div class="card-header">
      Todo #{{i}} - Priority: {{todo.priority}} - {{todo.finished ? 'finished' : 'still open'}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{todo.content}}</h5>
      <p class="card-text">Written by {{todo.creator}}</p>
      <a [routerLink]="['edit', todo.id]" class="btn btn-primary">Edit</a>
      <button class="btn btn-danger m-2" (click)="delete(todo.id, i)">Delete</button>
    </div>
  </div>
</div>

<ngbx-toast-list></ngbx-toast-list>

<router-outlet></router-outlet>
